#footer {
  height: 500px auto;
  width: 100vw;
  background: radial-gradient(circle, rgba(12, 15, 23, 1) 4%, rgba(9, 11, 14, 1) 95%, rgba(10, 0, 0, 0.96) 100%);
}

.footer-container {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  .social-1,
  .social-2 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feito-por {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
  }

  .rede img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }

  .rede:hover {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    filter: drop-shadow(0 0 0.333px red) drop-shadow(0 0 0.556px red) drop-shadow(0 0 0.833px red) drop-shadow(0 0 1.111px red) drop-shadow(0 0 1.944px red) drop-shadow(0 0 2.222px red) drop-shadow(0 0 2.778px red) drop-shadow(0 0 4.167px red);
    transition: transform 0.3s, filter 0.2s ease-in-out;

    img {
      opacity: 0;
    }
  }
}

.linkedin-f:hover {
  background: url(../img/linkedin-footer-h.png) center/contain no-repeat;
}

.whatsapp-f:hover {
  background: url(../img/whatsapp-footer-h.png) center/contain no-repeat;
}

.instagram-f:hover {
  background: url(../img/instagram-footer-h.png) center/contain no-repeat;
}

.github-f:hover {
  background: url(../img/github-footer-h.png) center/contain no-repeat;

}

@media (max-width:800px) {
  .footer-container {
    .feito-por {
      width: 300px;
      text-align: center;
    }

    .social-1 {
      transform: translateX(100px);
    }

    .social-2 {
      transform: translateX(-100px);
    }
  }
}

@media (max-width:630px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .social-1,
    .social-2 {
      transform: translateX(0px);
    }

    .feito-por {
      padding: 8px 0 12px 0;
    }

    .rede img {
      width: 40px;
      height: 40px;
      border-radius: 6px;
      border: 1px solid transparent;
    }

    .rede:hover {
      width: 40px;
      height: 40px;
      border-radius: 6px;
    }
  }
}