/* Header */
header {
  margin: 0px auto;
  background-color: $color-grey;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

li {
  margin: 0 10px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;

}


/* Header End*/
.logo-nav {
  width: 40px;
  height: 40px;

  cursor: pointer;
}

.nav-links {
  list-style: none;
}

li {
  display: inline-block;
  text-decoration: none;
  padding: 0px 0px;
}

a {
  text-decoration: none;
  color: $color-white;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: $color-red;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: $color-white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: $color-red;
  color: white;
}


/* Elements */