/*barra*/
.barra {
  width: 100%;
  background-color: rgba(41, 1, 1, 0.048);
  backdrop-filter: blur(15px);
  border-bottom: solid 1px rgba(255, 0, 0, 0.452);
  backdrop-filter: blur(10px);

  position: fixed;
  top: 0;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  text-decoration: none;
}

/*Menu*/

nav {
  width: 100%;


}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}

.menu li a {
  position: relative;
  text-decoration: none;
  color: white;
  margin: 0 30px 0 0;
}

.menu li a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 16px;
  transition: ease-in-out 0.3s;
}

.menu a:hover {
  color: whitesmoke;
}

/*Logo*/
img {
  width: 40px;
}

.logo-esquerda {
  position: relative;
  overflow: hidden;
}

.logo-esquerda img {
  width: 100% transition all linear 0.7s;
  transition-duration: 1.4s;
}

img.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.logo-esquerda:hover img {
  opacity: 0;
}

.logo-esquerda:hover img.hover-img {
  opacity: 1;
}

/*Botão*/