header {
  transition: opacity 1s ease-in-out;
}

.barra {
  width: 100%;
  background-color: rgba(41, 1, 1, 0.048);
  backdrop-filter: blur(15px);
  border-bottom: solid 1px rgba(255, 0, 0, 0.452);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

/* padronizar*/
#barra-menu {
  opacity: 0;
  visibility: hidden;

  transition: opacity 1.5s ease-in-out;
}

#barra-menu.mostrar {
  opacity: 1;
  visibility: visible;
}

#transition {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

#transition.aparece {
  opacity: 1;
}

/*padronizar*/

.container-barra {
  flex-direction: row;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  flex-direction: row;

  .logo-esquerda {
    position: relative;
    overflow: hidden;

    img {
      width: 100% transition all linear 0.7s;
      transition-duration: 1.4s;
      width: 40px;
    }

    .hover-img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  .logo-esquerda:hover img {
    opacity: 0;
  }

  .logo-esquerda:hover img.hover-img {
    opacity: 1;
  }
}

.menu {
  position: relative;
  right: -60px;

  nav {
    width: 100%;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
  }

  li a {
    position: relative;
    text-decoration: none;
    color: $color-white;
    margin: 0 30px 0 0;
    font-size: 16px;
    transition: ease-in-out 0.3s;
    display: block;
  }

  a:hover {
    color: $color-wm;
  }

  flex-direction: row;
}

.menu-btn {
  letter-spacing: 0;
}

.menu-btn:hover,
.menu-btn:active {
  letter-spacing: 2px;
}

.menu-btn:after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: $color-red;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.5s ease-in-out;
}

.menu-btn:hover::after {
  width: 100%;
}

.center-botao {
  width: 126px;
  height: 42px;
  position: relative;
}

.btn {

  top: 0px;
  border-radius: 5px;
  width: 126px;
  height: 42px;
  cursor: pointer;
  background: transparent;
  border: 1px solid $color-white;
  outline: none;
  transition: 1s ease-in-out;

  svg {

    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: $color-red;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }

  span {
    color: $color-white;
    font-size: 18px;
    font-weight: 100;
  }
}

.btn:hover {
  transition: 1s ease-in-out;
  background: $color-red;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

@media (max-width:991px) {

  .barra {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container-barra {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 40px;


  }

  .menu {
    right: -15px;
  }



  .barra .logo {
    width: 100%;
  }

  .menu-mobile ul {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .menu-mobile ul a {
    font-size: 35px;
  }

  .logo-esquerda img {
    width: 70px;
  }

  .center-botao {
    width: 232px;
    height: 84px;
  }

  .btn {
    width: 232px;
    height: 84px;
    background-color: black;

    border: 8px solid $color-white;

    svg {
      width: 0px;
      height: 0px;
    }

    span {
      font-size: 30px;
    }


  }




  /* mobile */
  .barra {
    display: block;
    position: fixed;
    top: -100vh;
    transition: ease 0.8s !important;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 1rem;
    right: 1.2rem;
    background: #000000;
    border: 2px solid red;
    color: rgb(255, 0, 0);
    font-size: 2rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
  }

  /* fechar menu mobile */
  .close-menu:checked~.barra {
    top: 0;
  }

  .close-menu:checked~.close-menu-label::after {
    display: block;
    content: '✕';
  }

  .menu-mobile ul li a {
    font-size: 25px;
  }

  .barra {
    background: rgba(0, 0, 0, 0.527);
  }

}

@media (max-width: 620px) {
  .close-menu-label::after {

    position: fixed;
    right: 1.4rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 4px;
  }
}

@media (max-width: 420px) {
  .close-menu-label::after {
    right: 1.8rem;
    font-size: 1.4rem;
    line-height: 2.0rem;
    width: 2.0rem;
    height: 2.0rem;
  }
}