#primeira-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #0D1116;

  .video-background {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;

    video {
      width: 100%;
      height: 100%;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }

    @media (min-width:991px) {
      video {
        transform: translateY(20px);
      }
    }
  }
}

#primeira-section .video-background-mobile {
  display: none;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;

  .ocultar {
    display: none;
  }

  .cadalado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    width: 100vw;
  }
}

.container-pp {
  position: relative;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  color: $color-white;
  margin-left: 60px;
  width: 500px;

  .texto.ola {
    color: $color-white;
    font-size: 30px;
  }

  .texto-escrevendo {
    color: $color-red;
    font-size: 40px;
    font-weight: 600;
  }
}

.links-p1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 240px;
  transform: translateY(6px);

  a {
    padding: 10px 30px;
    margin: 10px;
    border-radius: 22px;
    text-decoration: none;
  }

  .linkedin-p1 {
    box-shadow: 0 0 10px 0 $color-red inset, 0 0 10px 4px $color-red;
    color: $color-white;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
  }

  .linkedin-p1:hover {
    border-color: $color-red;
    box-shadow: 0 0 40px 40px $color-red inset;
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
  }

  .github-p1 {
    box-shadow: 0 0 10px 0 $color-white inset, 0 0 10px 4px $color-white;
    color: $color-white;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
  }

  .github-p1:hover {
    border-color: $color-white;
    color: $color-grey;
    box-shadow: 0 0 40px 40px $color-white inset;
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
  }
}

@media (max-width: 1700px) {
  .links-p1 {
    margin-right: 200px;
  }
}

@media (max-width: 1550px) {
  .links-p1 {
    margin-right: 180px;
  }

  .container-pp {
    margin-left: 0px;
  }
}

@media (max-width: 1420px) {
  .links-p1 {
    margin-right: 150px;
  }

  .container-pp {
    margin-left: -30px;
  }

  .container-pp .texto.ola {
    font-size: 26px;
  }

  .container-pp .texto-escrevendo {
    font-size: 36px;
  }
}

@media (max-width: 1280px) {
  .links-p1 {
    margin-right: 120px;
  }

  .container-pp {
    margin-left: -70px;
  }
}

@media (max-width: 1170px) {
  .links-p1 {
    margin-right: 80px;
  }

  .container-pp {
    margin-left: -110px;
  }

  .container-pp .texto-escrevendo {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  #primeira-section .video-background {
    display: none;
  }

  #primeira-section .video-background-mobile {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;

    video {
      width: 100%;
      height: 100%;
      width: 100vw;
      height: 100vh;
      object-fit: fill;
    }
  }
}

@media only screen and (max-width: 991px) and (min-height: 1421px) and (max-height: 1921px) {
  .container-pp {
    position: absolute;
    padding-top: 60px;
    margin: 0 auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 10vh;


    .texto.ola {
      position: absolute;
      font-size: 40px;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .texto-escrevendo {
      font-size: 56px;

    }
  }

  .links-p1 {
    position: absolute;
    flex-direction: row;
    left: 50%;
    bottom: 14%;
    transform: translate(-50%, -50%);

    a {
      padding: 16px 36px;
      margin: 10px;
      border-radius: 62px;
      text-decoration: none;
      font-size: 34px;
    }
  }
}

@media only screen and (max-width: 991px) and (min-height: 881px) and (max-height: 1420px) {
  .container-pp {
    position: absolute;
    padding-top: 60px;
    margin: 0 auto;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 20vh;

    .texto.ola {
      position: absolute;
      font-size: 40px;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .texto-escrevendo {
      font-size: 46px;
    }
  }

  .links-p1 {
    position: absolute;
    flex-direction: row;
    left: 50%;
    bottom: 11%;
    transform: translate(-50%, -50%);

    a {
      padding: 10px 28px;
      margin: 10px;
      border-radius: 62px;
      text-decoration: none;
      font-size: 26px;
    }
  }
}

@media only screen and (max-width: 991px) and (min-height: 551px) and (max-height: 880px) {
  .container-pp {
    position: absolute;
    padding-top: 45px;
    margin: 0 auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 20vh;

    .texto.ola {
      position: absolute;
      font-size: 40px;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .texto-escrevendo {
      font-size: 42px;

    }
  }

  .links-p1 {
    position: absolute;
    flex-direction: row;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);

    a {
      padding: 14px 24px;
      margin: 10px;
      border-radius: 32px;
      text-decoration: none;
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 991px) and (min-height: 0px) and (max-height: 550px) {
  .container-pp {
    position: absolute;
    padding-top: 26px;
    margin: 0 auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 20vh;

    .texto.ola {
      position: absolute;
      font-size: 40px;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }

    .texto-escrevendo {
      font-size: 34px;
    }
  }

  .links-p1 {
    position: absolute;
    flex-direction: row;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%, -50%);

    a {
      padding: 8px 18px;
      margin: 10px;
      border-radius: 32px;
      text-decoration: none;
      font-size: 20px;
    }
  }
}

// Teste
.progress-bar-container {
  position: fixed;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14%;
  height: 5px;
  background-color: #ccc;
  z-index: 9999;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: rgb(135, 22, 22);
  transition: width 0.3s ease;
}

body.loading {
  background-color: black;
  overflow: hidden;
}

/* Oculta o conteúdo inicialmente */
.content {
  display: none;
}