#primeira-pagina {
  width: 100%;
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

#primeira-pagina .video-background {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
}

#primeira-pagina .video-background video {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#primeira-pagina .video-background-mobile {
  display: none;
}



.box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.box .ocultar {
  display: none;
}

.box .cadalado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  width: 100vw;
}

.container-pp {
  position: relative;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  color: $color-white;
  margin-left: 60px;
  width: 500px;
}

.container-pp .texto.ola {
  color: $color-white;
  font-size: 30px;
}

.container-pp .texto-escrevendo {
  color: $color-red;
  font-size: 40px;
  font-weight: 600;
}

.links-p1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 240px;
  transform: translateY(6px);
}

.links-p1 a {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 22px;
  text-decoration: none;
}

.links-p1 .linkedin-p1 {
  box-shadow: 0 0 10px 0 $color-red inset, 0 0 10px 4px $color-red;
  color: $color-white;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}

.links-p1 .github-p1 {
  box-shadow: 0 0 10px 0 $color-white inset, 0 0 10px 4px $color-white;
  color: $color-white;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}

.linkedin-p1:hover {
  border-color: $color-red;
  color: $color-white;
  box-shadow: 0 0 40px 40px $color-red inset, 0 0 0 0 $color-red;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.github-p1:hover {
  border-color: $color-white;
  color: $color-black;
  box-shadow: 0 0 40px 40px $color-white inset, 0 0 0 0 $color-white;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}


@media (max-width: 1700px) {
  .links-p1 {
    margin-right: 200px;
  }
}

@media (max-width: 1550px) {
  .links-p1 {
    margin-right: 180px;
  }

  .container-pp {
    margin-left: 0px;
  }


}

@media (max-width: 1420px) {
  .links-p1 {
    margin-right: 150px;
  }

  .container-pp {
    margin-left: -30px;
  }

  .container-pp .texto.ola {
    font-size: 26px;
  }

  .container-pp .texto-escrevendo {
    font-size: 36px;
  }

}

@media (max-width: 1280px) {
  .links-p1 {
    margin-right: 120px;
  }

  .container-pp {
    margin-left: -70px;
  }

}

@media (max-width: 1170px) {


  .links-p1 {
    margin-right: 90px;
  }

  .container-pp {

    margin-left: -110px;
  }

  .container-pp .texto-escrevendo {
    font-size: 28px;
  }
}

@media (max-width: 950px) {
  .container-pp {

    gap: 0px;
    top: 0%;
    flex-direction: column;
  }

  .links-p1 {
    top: 90%;
  }

  .links-p1 {
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 93%;
    transform: translate(-50%, -50%);
  }

  .container-pp {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 0 auto;
    margin: 0 auto;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    gap: 20px;
    text-align: center;
  }

  .container-pp .texto.ola {
    font-size: 40px;
    margin-left: 40px;
  }

  .container-pp .texto-escrevendo {
    font-size: 44px;
  }

}



@media (max-width: 770px) {


  .container-pp {
    gap: 10px;
    top: 12%;
    margin-left: 80px;
  }

  .container-pp .texto.ola {
    font-size: 30px;
  }

  .container-pp .texto-escrevendo {
    font-size: 34px;
  }

  .links-p1 {
    top: 90%;
  }

}

@media (max-width: 550px) {
  #primeira-pagina .video-background {
    display: none;
  }

  #primeira-pagina .video-background-mobile {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
  }

  #primeira-pagina .video-background-mobile video {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
  }

  .links-p1 {
    top: 87%;
  }

  .container-pp {
    gap: 10px;
    top: 17%;
    margin-left: 110px;
  }

  .container-pp .texto.ola {
    font-size: 26px;
  }

  .container-pp .texto-escrevendo {
    font-size: 30px;
  }
}

@media (max-height: 500px) {
  .container-pp {

    gap: 0px;
    top: 0%;
    flex-direction: column;
  }

  .links-p1 {
    top: 90%;
  }

  .links-p1 {
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 93%;
    transform: translate(-50%, -50%);
  }

  .container-pp {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 0 auto;
    margin: 0 auto;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    gap: 20px;
    text-align: center;
  }

  .container-pp .texto.ola {
    font-size: 40px;
    margin-left: 40px;
  }

  .container-pp .texto-escrevendo {
    font-size: 44px;
  }

}