#quarta-pagina {
  width: 100vw;
  height: 0 auto;
  background: linear-gradient(90deg, rgb(7, 9, 15) 0%, rgba(0, 0, 0, 1) 50%, rgb(7, 9, 15) 100%);
  align-items: center;
  justify-content: center;
}

.escrita-habilidades {
  text-align: center;
  font-size: 90px;
  font-family: Poiret One;
  height: 100%;
  overflow: hidden;
  color: rgb(0, 0, 0);
  padding: 50px 0 30px 0;

}

.letter-h {
  position: relative;
  top: calc(50% - 60px);
  color: rgb(255, 60, 0);
  text-shadow: 0px 0px 10px rgb(255, 0, 0),
    0px 0px 20px rgb(255, 0, 0),
    0px 0px 40px rgb(255, 0, 0);

}


$total-letras: 11;

@for $cadaletra from 1 through $total-letras {
  .letter-h:nth-child(#{$cadaletra}) {
    animation: fade 4s infinite ($cadaletra * 200ms);
  }
}


@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}

@keyframes fade {
  50% {
    opacity: 0.02;
  }
}

.container-tecnologias {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
}

.tecnologias {
  width: 100px;
  height: 100px;
  background-color: rgba(42, 42, 42, 0.152);
  border: 1px solid #ff0000;
  border-radius: 12px;
  display: flex;
  transition: ease 0.2s;
  background-position: center;
  background-repeat: no-repeat;
}

.tecnologias img {
  display: block;
  margin: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.tecnologias .icones-tecnologias {
  transition: ease-in-out 0.4s;
}

.tecnologias:hover .icones-tecnologias {
  opacity: 0;
}

.tecnologias:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.2);
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 2px #ff0000;
}

.html:hover {
  background-image: url(../img/html-h.png);

}

.css:hover {
  background-image: url(../img/css-h.png);

}

.javascript:hover {
  background-image: url(../img/js-h.png);
  background-size: 80px;
}

.github:hover {
  background-image: url(../img/github-h.png);
}

.vtex:hover {
  background-image: url(../img/vtex-h.png);
  ;

}

.sass:hover {
  background-image: url(../img/sass-h.png);
}

.react:hover {
  background-image: url(../img/react-h.png);
}

.git:hover {
  background-image: url(../img/git-h.png);
}





.quarto-container {
  height: 0 auto;
  width: 0 auto;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

.div-texto {
  font-family: 'Montserrat', sans-serif;

  font-size: 34px;
  font-weight: 700;
  position: absolute;
  left: 300px;
  transition: opacity 0.9s ease-in-out;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px red,
    0px 0px 20px red,
    0px 0px 40px red;
}

.container-tecnologias:hover+.div-texto+.div-texto2 {
  display: block;
}

.div-texto2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  font-size: 24px;
  position: absolute;
  transition: opacity 0.9s ease-in-out;
  color: white;

  width: 400px;
  height: 0 auto;
  right: 180px;
}

@media (max-width:1700px) {

  .div-texto {
    left: 180px;
  }

  .div-texto2 {
    right: 90px;
  }

}

@media (max-width:1600px) {
  .div-texto {
    left: 130px;
  }

  .div-texto2 {
    right: 100px;

    width: 340px;
  }



}

@media (max-width:1500px) {


  .div-texto2 {
    right: 80px;
    width: 300px;
    font-weight: 700;

    font-size: 22px;
  }



}


@media (max-width:1350px) {
  .div-texto {
    left: 80px;
  }

  .div-texto2 {
    right: 90px;

    width: 270px;
  }
}


@media (max-width:1280px) {

  .div-texto {
    font-size: 28px;
    font-weight: 700;
    left: 110px;
  }

  .div-texto2 {
    right: 100px;

    width: 250px;
    font-weight: 700;

    font-size: 20px;
  }

  .container-tecnologias {
    gap: 20px;
  }

  .tecnologias {
    display: grid;
    width: 90px;
    height: 90px;
  }

  .tecnologias img {
    width: 60px;
    height: 60px;
  }

  .tecnologias:hover {
    background-size: 60px;
  }

  .escrita-habilidades {
    font-size: 70px;

  }

  .quarto-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 300px;
  }
}

@media (max-width:1100px) {
  #quarta-pagina {
    height: 0 auto;
  }

  .container-tecnologias {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .tecnologias {
    width: 100px;
    height: 100px;
    cursor: pointer;
    touch-action: manipulation;
  }

  .tecnologias img {
    width: 60px;
    height: 60px;
  }

  .tecnologias:hover {
    background-size: 60px;
  }

  .div-texto {

    left: 70px;
  }

  .div-texto2 {
    right: 40px;

    width: 250px;
    font-weight: 700;

    font-size: 22px;
  }
}

@media (max-width:800px) {
  .div-texto {
    left: 40px;
  }

  .div-texto2 {
    right: 55px;
    width: 190px;

    font-size: 20px;
  }

}

@media (max-width:750px) {
  .quarto-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .div-texto {
    position: absolute;
    left: 70px;
    top: -14px;
    margin: 0 auto;
  }

  .div-texto2 {
    position: relative;
    right: 0;
    width: 350px;

    font-size: 24px;
  }

  .escrita-habilidades {
    font-size: 56px;
  }

}

@media (max-width:550px) {

  .escrita-habilidades {
    font-size: 44px;
  }

}

@media (max-width:400px) {

  .escrita-habilidades {
    font-size: 34px;
  }

}