#quarta-pagina {
  padding: 50px 0px 0px 0px;
  width: 100%;
  height: 70vh;
  background: linear-gradient(90deg, rgb(7, 9, 15) 0%, rgba(0, 0, 0, 1) 50%, rgb(7, 9, 15) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-tecnologias {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 50%;
  height: 100%;
  flex-direction: row;
}

.tecnologias {
  width: 100px;
  height: 100px;
  background-color: rgba(42, 42, 42, 0.152);
  border: 1px solid rgb(255, 0, 0);
  border-radius: 12px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: ease 0.2s;
  background-position: center;
  background-repeat: no-repeat;
}

.tecnologias img {
  display: block;
  margin: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.tecnologias .icones-tecnologias {
  transition: ease-in-out 0.4s;
}

.tecnologias:hover .icones-tecnologias {
  opacity: 0;
}

.tecnologias:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.2);
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.html:hover {
  background-image: url(../img/html-h.png);

}

.css:hover {
  background-image: url(../img/css-h.png);

}

.javascript:hover {
  background-image: url(../img/js-h.png);
  background-size: 80px;
}

.github:hover {
  background-image: url(../img/github-h.png);
}

.vtex:hover {
  background-image: url(../img/vtex-h.png);
}

.sass:hover {
  background-image: url(../img/sass-h.png);
}

.react:hover {
  background-image: url(../img/react-h.png);
}

.git:hover {
  background-image: url(../img/git-h.png);
}

.escrita-habilidades {
  text-align: center;
  font-size: 90px;
  font-family: Poiret One;
  height: 100%;
  overflow: hidden;
  color: rgb(0, 0, 0);
}

.letter-h {
  position: relative;
  top: calc(50% - 60px);
  text-shadow: 0px 0px 10px red,
    0px 0px 20px red,
    0px 0px 40px red;

}


.letter-h {
  &:nth-child(1) {
    -webkit-animation: fade 4s infinite 200ms;
    animation: fade 4s infinite 200ms;
  }

  &:nth-child(2) {
    -webkit-animation: fade 4s infinite 400ms;
    animation: fade 4s infinite 400ms;
  }

  &:nth-child(3) {
    -webkit-animation: fade 4s infinite 600ms;
    animation: fade 4s infinite 600ms;
  }

  &:nth-child(4) {
    -webkit-animation: fade 4s infinite 800ms;
    animation: fade 4s infinite 800ms;
  }

  &:nth-child(5) {
    -webkit-animation: fade 4s infinite 1000ms;
    animation: fade 4s infinite 1000ms;
  }

  &:nth-child(6) {
    -webkit-animation: fade 4s infinite 1200ms;
    animation: fade 4s infinite 1200ms;
  }

  &:nth-child(7) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1400ms;
  }

  &:nth-child(8) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1600ms;
  }

  &:nth-child(9) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1800ms;
  }

  &:nth-child(10) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1800ms;
  }

  &:nth-child(11) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1800ms;
  }
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}

@keyframes fade {
  50% {
    opacity: 0.02;
  }
}