#quarta-pagina {
  width: 100vw;
  height: 0 auto;
  background: linear-gradient(90deg, rgb(7, 9, 15) 0%, rgba(0, 0, 0, 1) 50%, rgb(7, 9, 15) 100%);
  align-items: center;
  justify-content: center;
}

.escrita-habilidades {
  text-align: center;
  font-size: 6vw;
  font-family: Poiret One;
  padding: 50px 0 0 0;

  .letter-h {
    position: relative;
    color: $color-lred;
    text-shadow: 0px 0px 10px $color-red,
      0px 0px 20px $color-red,
      0px 0px 40px $color-red;
  }

  $total-letras: 11;

  @for $cadaletra from 1 through $total-letras {
    .letter-h:nth-child(#{$cadaletra}) {
      animation: fade 4s infinite ($cadaletra * 200ms);
    }
  }

  @-webkit-keyframes fade {
    50% {
      opacity: 0.02;
    }
  }

  @keyframes fade {
    50% {
      opacity: 0.02;
    }
  }
}

.quarto-container {
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  display: flex;
  margin: 0 auto;
  text-align: center;

  .container-tecnologias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;

    .tecnologias {
      width: 100px;
      height: 100px;
      border: 1px solid $color-red;
      border-radius: 12px;
      display: flex;
      transition: ease 0.3s;
      background-position: center;

      img {
        margin: auto;
        width: 80px;
        height: 80px;
      }
    }
  }

  .div-texto {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    left: 300px;
    width: 210px;
    text-align: center;
    transition: opacity 0.9s ease-in-out;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px red,
      0px 0px 20px red,
      0px 0px 40px red;
  }

  .div-texto2 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    transition: opacity 0.9s ease-in-out;
    color: white;
    width: 400px;
    right: 180px;
  }
}

.tecnologias:hover .icones-tecnologias {
  opacity: 0;
}

.tecnologias:hover {
  background-color: $color-black;
  transform: scale(1.2);
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 2px $color-red;
}

.html:hover {
  background-image: url(../img/html-h.png);
}

.css:hover {
  background-image: url(../img/css-h.png);
}

.javascript:hover {
  background-image: url(../img/js-h.png);
}

.github:hover {
  background-image: url(../img/github-h.png);
}

.vtex:hover {
  background-image: url(../img/vtex-h.png);
}

.sass:hover {
  background-image: url(../img/sass-h.png);
}

.react:hover {
  background-image: url(../img/react-h.png);
}

.git:hover {
  background-image: url(../img/git-h.png);
}

@media (max-width:1700px) {

  .quarto-container .div-texto {
    left: 180px;
  }

  .quarto-container .div-texto2 {
    right: 90px;
  }
}

@media (max-width:1600px) {
  .quarto-container .div-texto {
    left: 130px;
  }

  .quarto-container .div-texto2 {
    right: 90px;
    width: 340px;
  }
}

@media (max-width:1500px) {
  .quarto-container .div-texto2 {
    width: 300px;
    font-weight: 700;
    font-size: 22px;
  }
}

@media (max-width:1350px) {
  .quarto-container .div-texto {
    left: 80px;
  }

  .quarto-container .div-texto2 {
    width: 270px;
  }
}

@media (max-width:1280px) {

  .quarto-container .div-texto {
    font-size: 28px;
    font-weight: 700;
    left: 120px;
  }

  .quarto-container .div-texto2 {
    right: 95px;
    width: 250px;
    font-size: 20px;
    font-weight: 700;
  }

  .quarto-container .container-tecnologias {
    gap: 20px;
  }

  .tecnologias {
    width: 90px;
    height: 90px;
  }
}

@media (max-width:1120px) {
  .quarto-container .container-tecnologias {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .tecnologias {
    touch-action: manipulation;
  }

  .quarto-container .div-texto2 {
    font-size: 22px;
  }
}

@media (max-width:950px) {
  .quarto-container .div-texto {
    left: 70px;
  }

  .quarto-container .div-texto2 {
    width: 190px;
    font-size: 20px;
  }
}

@media (max-width:800px) {
  .quarto-container .div-texto {
    left: 50px;
  }

  .quarto-container .div-texto2 {
    right: 50px;
  }
}

@media (max-width:750px) {
  .quarto-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 30px;
  }

  .escrita-habilidades {
    padding: 40px 0 20px;
    font-size: 8vw;
  }

  .quarto-container .div-texto {
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .quarto-container .div-texto2 {
    position: relative;
    right: 0;
    width: 240px;
    margin-top: 20px;
    font-size: 24px;
  }
}

@media (max-width:400px) {
  .escrita-habilidades {
    font-size: 9vw;
  }
}