@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');

#terceira-pagina {

  display: flex;
  align-items: center;
  padding-bottom: 60px;
  justify-content: center;
  background: radial-gradient(circle, rgba(12, 15, 23, 1) 4%, rgba(9, 11, 14, 1) 95%, rgba(10, 0, 0, 0.96) 100%);
  overflow-x: hidden;
  overflow-y: hidden;
  height: 0 auto;
  font-family: 'Urbanist', sans-serif;
}

a {

  text-decoration: none;
}

input {

  display: none;
}

.terceiro-container {

  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 2000px;
  transform-style: preserve-3d;
}

.cards label {

  position: absolute;
  width: 320px;
  height: 420px;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;

}

.cards .card {

  position: relative;
  height: 100%;
  background-color: #070000;
  border-radius: 5px;
  border: 3px solid rgba(255, 0, 0, 0.35);
  padding: 30px 35px;
}

.card .image {

  display: flex;
  justify-content: center;
}

.card .image img {

  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  width: 200px;
  height: 220px;
  object-fit: cover;
}

.card .descricao-projeto {

  display: block;
  text-align: center;
  padding-top: 10px;
}

.descricao-projeto span {

  display: block;
}

.descricao-projeto .nome-projeto {

  font-size: 24px;
  color: var(--current-color1);
  letter-spacing: 2px;
  transition: all .6s ease;
}

.descricao-projeto .lorem {

  font-size: 15.5px;
  color: #ECEAED;
}

.card .btn-contact {

  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  transition: all .7s ease;
}

#c1:checked~.cards #slide4,
#c2:checked~.cards #slide5,
#c3:checked~.cards #slide1,
#c4:checked~.cards #slide2,
#c5:checked~.cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked~.cards #slide5,
#c2:checked~.cards #slide1,
#c3:checked~.cards #slide2,
#c4:checked~.cards #slide3,
#c5:checked~.cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked~.cards #slide1,
#c2:checked~.cards #slide2,
#c3:checked~.cards #slide3,
#c4:checked~.cards #slide4,
#c5:checked~.cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: red;
  --current-color2: #ECEAED;
}

#c1:checked~.cards #slide2,
#c2:checked~.cards #slide3,
#c3:checked~.cards #slide4,
#c4:checked~.cards #slide5,
#c5:checked~.cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked~.cards #slide3,
#c2:checked~.cards #slide4,
#c3:checked~.cards #slide5,
#c4:checked~.cards #slide1,
#c5:checked~.cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}


/*texto*/
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

.escrita-projetos {
  text-align: center;
  justify-content: center;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255);
  padding: 40px;
}

.letter-2 {
  position: relative;
  top: calc(50% - 60px);
  text-shadow: 0px 0px 10px red,
    0px 0px 20px red,
    0px 0px 40px red,
    0px 0px 80px red,
    0px 0px 120px red;

}

.letter-2 {
  &:nth-child(1) {
    -webkit-animation: fade 4s infinite 200ms;
    animation: fade 4s infinite 200ms;

    animation-direction: alternate;

  }

  &:nth-child(2) {
    -webkit-animation: fade 4s infinite 400ms;
    animation: fade 4s infinite 400ms;

    animation-direction: alternate;
  }

  &:nth-child(3) {
    -webkit-animation: fade 4s infinite 600ms;
    animation: fade 4s infinite 600ms;

    animation-direction: alternate;
  }

  &:nth-child(4) {
    -webkit-animation: fade 4s infinite 800ms;
    animation: fade 4s infinite 800ms;

    animation-direction: alternate;
  }

  &:nth-child(5) {
    -webkit-animation: fade 4s infinite 1000ms;
    animation: fade 4s infinite 1000ms;

    animation-direction: alternate;
  }

  &:nth-child(6) {
    -webkit-animation: fade 4s infinite 1200ms;
    animation: fade 4s infinite 1200ms;

    animation-direction: alternate;
  }

  &:nth-child(7) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1400ms;

    animation-direction: alternate;
  }

  &:nth-child(8) {
    -webkit-animation: fade 4s infinite 1400ms;
    animation: fade 4s infinite 1600ms;

    animation-direction: alternate;
  }
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}

@keyframes fade {
  50% {
    opacity: 0.02;
  }
}


@media (max-width:780px) {
  .cards {
    perspective: 800px;
  }
}

@media (max-width:670px) {
  .cards {
    perspective: 400px;
  }
}

@media (max-width:540px) {
  .cards {
    perspective: 300px;
  }

  .escrita-projetos {
    font-size: 50px;
  }
}

@media (max-width:450px) {
  .cards {
    perspective: 80px;
  }

  .escrita-projetos {
    font-size: 44px;
  }
}

@media (max-width:410px) {

  .escrita-projetos {
    font-size: 30px;
  }
}