@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Source+Sans+Pro:wght@200;300;400&family=Urbanist:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Components*/
#footer {
  height: 500px auto;
  width: 100vw;
  background: radial-gradient(circle, rgb(12, 15, 23) 4%, rgb(9, 11, 14) 95%, rgba(10, 0, 0, 0.96) 100%);
}

.footer-container {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .social-1,
.footer-container .social-2 {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .feito-por {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}
.footer-container .rede img {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
.footer-container .rede:hover {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  filter: drop-shadow(0 0 0.333px red) drop-shadow(0 0 0.556px red) drop-shadow(0 0 0.833px red) drop-shadow(0 0 1.111px red) drop-shadow(0 0 1.944px red) drop-shadow(0 0 2.222px red) drop-shadow(0 0 2.778px red) drop-shadow(0 0 4.167px red);
  transition: transform 0.3s, filter 0.2s ease-in-out;
}
.footer-container .rede:hover img {
  opacity: 0;
}

.linkedin-f:hover {
  background: url(../img/linkedin-footer-h.png) center/contain no-repeat;
}

.whatsapp-f:hover {
  background: url(../img/whatsapp-footer-h.png) center/contain no-repeat;
}

.instagram-f:hover {
  background: url(../img/instagram-footer-h.png) center/contain no-repeat;
}

.github-f:hover {
  background: url(../img/github-footer-h.png) center/contain no-repeat;
}

@media (max-width: 800px) {
  .footer-container .feito-por {
    width: 300px;
    text-align: center;
  }
  .footer-container .social-1 {
    transform: translateX(100px);
  }
  .footer-container .social-2 {
    transform: translateX(-100px);
  }
}
@media (max-width: 630px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-container .social-1,
  .footer-container .social-2 {
    transform: translateX(0px);
  }
  .footer-container .feito-por {
    padding: 8px 0 12px 0;
  }
  .footer-container .rede img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid transparent;
  }
  .footer-container .rede:hover {
    width: 40px;
    height: 40px;
    border-radius: 6px;
  }
}
#quarta-section {
  width: 100vw;
  height: 0 auto;
  background: linear-gradient(90deg, rgb(7, 9, 15) 0%, rgb(0, 0, 0) 50%, rgb(7, 9, 15) 100%);
  align-items: center;
  justify-content: center;
}

.escrita-habilidades {
  text-align: center;
  font-size: 6vw;
  font-family: Poiret One;
  padding: 50px 0 0 0;
}
.escrita-habilidades .letter-h {
  position: relative;
  color: #ff3300;
  text-shadow: 0px 0px 10px #FE0105, 0px 0px 20px #FE0105, 0px 0px 40px #FE0105;
}
.escrita-habilidades .letter-h:nth-child(1) {
  animation: fade 4s infinite 200ms;
}
.escrita-habilidades .letter-h:nth-child(2) {
  animation: fade 4s infinite 400ms;
}
.escrita-habilidades .letter-h:nth-child(3) {
  animation: fade 4s infinite 600ms;
}
.escrita-habilidades .letter-h:nth-child(4) {
  animation: fade 4s infinite 800ms;
}
.escrita-habilidades .letter-h:nth-child(5) {
  animation: fade 4s infinite 1000ms;
}
.escrita-habilidades .letter-h:nth-child(6) {
  animation: fade 4s infinite 1200ms;
}
.escrita-habilidades .letter-h:nth-child(7) {
  animation: fade 4s infinite 1400ms;
}
.escrita-habilidades .letter-h:nth-child(8) {
  animation: fade 4s infinite 1600ms;
}
.escrita-habilidades .letter-h:nth-child(9) {
  animation: fade 4s infinite 1800ms;
}
.escrita-habilidades .letter-h:nth-child(10) {
  animation: fade 4s infinite 2000ms;
}
.escrita-habilidades .letter-h:nth-child(11) {
  animation: fade 4s infinite 2200ms;
}
@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}
@keyframes fade {
  50% {
    opacity: 0.02;
  }
}

.quarto-container {
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  display: flex;
  margin: 0 auto;
  text-align: center;
}
.quarto-container .container-tecnologias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.quarto-container .container-tecnologias .tecnologias {
  width: 100px;
  height: 100px;
  border: 1px solid #FE0105;
  border-radius: 12px;
  display: flex;
  transition: ease 0.3s;
  background-position: center;
}
.quarto-container .container-tecnologias .tecnologias img {
  margin: auto;
  width: 80px;
  height: 80px;
}
.quarto-container .div-texto {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 700;
  left: 300px;
  width: 210px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  color: #fff;
  text-shadow: 0px 0px 10px #FE0105, 0px 0px 20px #FE0105, 0px 0px 40px #FE0105;
}
.quarto-container .div-texto2 {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  color: #fff;
  width: 400px;
  right: 180px;
}

.tecnologias:hover .icones-tecnologias {
  opacity: 0;
}

.tecnologias:hover {
  background-color: #000000;
  transform: scale(1.2);
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 2px #FE0105;
}

.html:hover {
  background-image: url(../img/html-h.png);
}

.css:hover {
  background-image: url(../img/css-h.png);
}

.javascript:hover {
  background-image: url(../img/js-h.png);
}

.github:hover {
  background-image: url(../img/github-h.png);
}

.vtex:hover {
  background-image: url(../img/vtex-h.png);
}

.sass:hover {
  background-image: url(../img/sass-h.png);
}

.react:hover {
  background-image: url(../img/react-h.png);
}

.git:hover {
  background-image: url(../img/git-h.png);
}

@media (max-width: 1700px) {
  .quarto-container .div-texto {
    left: 180px;
  }
  .quarto-container .div-texto2 {
    right: 90px;
  }
}
@media (max-width: 1600px) {
  .quarto-container .div-texto {
    left: 130px;
  }
  .quarto-container .div-texto2 {
    right: 90px;
    width: 340px;
  }
}
@media (max-width: 1500px) {
  .quarto-container .div-texto2 {
    width: 300px;
    font-weight: 700;
    font-size: 22px;
  }
}
@media (max-width: 1350px) {
  .quarto-container .div-texto {
    left: 80px;
  }
  .quarto-container .div-texto2 {
    width: 270px;
  }
}
@media (max-width: 1280px) {
  .quarto-container .div-texto {
    font-size: 28px;
    font-weight: 700;
    left: 120px;
  }
  .quarto-container .div-texto2 {
    right: 95px;
    width: 250px;
    font-size: 20px;
    font-weight: 700;
  }
  .quarto-container .container-tecnologias {
    gap: 20px;
  }
  .tecnologias {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 1120px) {
  .quarto-container .container-tecnologias {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .tecnologias {
    touch-action: manipulation;
  }
  .quarto-container .div-texto2 {
    font-size: 22px;
  }
}
@media (max-width: 950px) {
  .quarto-container .div-texto {
    left: 70px;
  }
  .quarto-container .div-texto2 {
    width: 190px;
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .quarto-container .div-texto {
    left: 50px;
  }
  .quarto-container .div-texto2 {
    right: 50px;
  }
}
@media (max-width: 750px) {
  .quarto-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0 30px;
  }
  .escrita-habilidades {
    padding: 40px 0 20px;
    font-size: 8vw;
  }
  .quarto-container .div-texto {
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .quarto-container .div-texto2 {
    position: relative;
    right: 0;
    width: 240px;
    margin-top: 20px;
    font-size: 24px;
  }
}
@media (max-width: 400px) {
  .escrita-habilidades {
    font-size: 9vw;
  }
}
#terceira-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, rgb(12, 15, 23) 4%, rgb(9, 11, 14) 95%, rgba(10, 0, 0, 0.96) 100%);
  height: 0 auto;
}

.terceira-tela {
  font-family: "Urbanist", sans-serif;
  padding-bottom: 60px;
}
.terceira-tela .escrita-projetos {
  text-align: center;
  justify-content: center;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: hidden;
  color: #fff;
  padding: 40px;
}
.terceira-tela .escrita-projetos .letter-2 {
  position: relative;
  top: calc(50% - 60px);
  text-shadow: 0px 0px 10px #FE0105, 0px 0px 20px #FE0105, 0px 0px 40px #FE0105, 0px 0px 80px #FE0105, 0px 0px 120px #FE0105;
}
.terceira-tela .escrita-projetos .letter-2:nth-child(1) {
  animation: fade 4s infinite 200ms;
}
.terceira-tela .escrita-projetos .letter-2:nth-child(2) {
  animation: fade 4s infinite 400ms;
}
.terceira-tela .escrita-projetos .letter-2:nth-child(3) {
  animation: fade 4s infinite 600ms;
}
.terceira-tela .escrita-projetos .letter-2:nth-child(4) {
  animation: fade 4s infinite 800ms;
}
.terceira-tela .escrita-projetos .letter-2:nth-child(5) {
  animation: fade 4s infinite 1000ms;
}
.terceira-tela .escrita-projetos .letter-2:nth-child(6) {
  animation: fade 4s infinite 1200ms;
}
.terceira-tela .escrita-projetos .letter-2:nth-child(7) {
  animation: fade 4s infinite 1400ms;
}
.terceira-tela .escrita-projetos .letter-2:nth-child(8) {
  animation: fade 4s infinite 1600ms;
}
@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}
@keyframes fade {
  50% {
    opacity: 0.02;
  }
}
.terceira-tela .terceiro-container {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.terceira-tela .terceiro-container .cards {
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 2000px;
  transform-style: preserve-3d;
}
.terceira-tela .terceiro-container .cards label {
  position: absolute;
  width: 320px;
  height: 420px;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}
.terceira-tela .terceiro-container .cards .card {
  position: relative;
  height: 100%;
  background-color: #070000;
  border-radius: 5px;
  border: 3px solid rgba(255, 0, 0, 0.35);
  padding: 30px 35px;
}
.terceira-tela .terceiro-container .cards .card a {
  text-decoration: none;
}
.terceira-tela .terceiro-container .cards .card .descricao-projeto {
  display: block;
  text-align: center;
  padding-top: 10px;
}
.terceira-tela .terceiro-container .cards .card .descricao-projeto span {
  display: block;
}
.terceira-tela .terceiro-container .cards .card .descricao-projeto .nome-projeto {
  font-size: 24px;
  color: var(--current-color1);
  letter-spacing: 2px;
  transition: all 0.6s ease;
}
.terceira-tela .terceiro-container .cards .card .descricao-projeto .specs-projeto {
  font-size: 16px;
  color: #ECEAED;
}
.terceira-tela .terceiro-container .cards .card .btn-contact {
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.7s ease;
}
.terceira-tela .terceiro-container .cards .image {
  display: flex;
  justify-content: center;
}
.terceira-tela .terceiro-container .cards .image img {
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 220px;
  object-fit: cover;
}

input {
  display: none;
}

#c1:checked ~ .cards #slide4,
#c2:checked ~ .cards #slide5,
#c3:checked ~ .cards #slide1,
#c4:checked ~ .cards #slide2,
#c5:checked ~ .cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.45);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked ~ .cards #slide5,
#c2:checked ~ .cards #slide1,
#c3:checked ~ .cards #slide2,
#c4:checked ~ .cards #slide3,
#c5:checked ~ .cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.45);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked ~ .cards #slide1,
#c2:checked ~ .cards #slide2,
#c3:checked ~ .cards #slide3,
#c4:checked ~ .cards #slide4,
#c5:checked ~ .cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0);
  --current-color1: #FF0000;
  --current-color2: #ECEAED;
}

#c1:checked ~ .cards #slide2,
#c2:checked ~ .cards #slide3,
#c3:checked ~ .cards #slide4,
#c4:checked ~ .cards #slide5,
#c5:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.45);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked ~ .cards #slide3,
#c2:checked ~ .cards #slide4,
#c3:checked ~ .cards #slide5,
#c4:checked ~ .cards #slide1,
#c5:checked ~ .cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.45);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

@media (max-width: 780px) {
  .terceira-tela .terceiro-container .cards {
    perspective: 800px;
  }
}
@media (max-width: 670px) {
  .terceira-tela .terceiro-container .cards {
    perspective: 400px;
  }
}
@media (max-width: 540px) {
  .terceira-tela .terceiro-container .cards {
    perspective: 300px;
    transform: translateX(-10px);
  }
  .terceira-tela .escrita-projetos {
    font-size: 50px;
  }
}
@media (max-width: 450px) {
  .terceira-tela .terceiro-container .cards {
    perspective: 80px;
  }
  .terceira-tela .escrita-projetos {
    font-size: 44px;
  }
}
@media (max-width: 410px) {
  .terceira-tela .escrita-projetos {
    font-size: 30px;
  }
}
#segunda-section {
  width: 100%;
  height: 0 auto;
  background: linear-gradient(90deg, rgb(7, 9, 15) 0%, rgb(0, 0, 0) 50%, rgb(7, 9, 15) 100%);
}

.segunda-tela {
  padding-top: 20px;
}
.segunda-tela .escrita-sobre {
  text-align: center;
  font-size: 6vw;
  font-family: Poiret One;
  height: 100%;
  overflow: hidden;
}
.segunda-tela .escrita-sobre .letter {
  position: relative;
  color: rgb(255, 60, 0);
  text-shadow: 0px 0px 10px rgb(255, 0, 0), 0px 0px 20px rgb(255, 0, 0), 0px 0px 40px rgb(255, 0, 0);
}
.segunda-tela .escrita-sobre .letter:nth-child(1) {
  animation: fade 4s infinite 200ms;
}
.segunda-tela .escrita-sobre .letter:nth-child(2) {
  animation: fade 4s infinite 400ms;
}
.segunda-tela .escrita-sobre .letter:nth-child(3) {
  animation: fade 4s infinite 600ms;
}
.segunda-tela .escrita-sobre .letter:nth-child(4) {
  animation: fade 4s infinite 800ms;
}
.segunda-tela .escrita-sobre .letter:nth-child(5) {
  animation: fade 4s infinite 1000ms;
}
.segunda-tela .escrita-sobre .letter:nth-child(6) {
  animation: fade 4s infinite 1200ms;
}
.segunda-tela .escrita-sobre .letter:nth-child(7) {
  animation: fade 4s infinite 1400ms;
}
.segunda-tela .escrita-sobre .letter:nth-child(8) {
  animation: fade 4s infinite 1600ms;
}
.segunda-tela .escrita-sobre .letter:nth-child(9) {
  animation: fade 4s infinite 1800ms;
}
@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}
@keyframes fade {
  50% {
    opacity: 0;
  }
}

.segundo-container {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.segundo-container .foto-card {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
}
.segundo-container .foto-card img {
  width: 100% transition all linear 0.7s;
  transition-duration: 1.4s;
  width: 40px;
}
.segundo-container .foto-card .foto-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.segundo-container .foto-card .texto-card {
  font-family: "Source Sans Pro", sans-serif;
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -270px;
  padding: 10px;
  color: #fff;
  z-index: 1;
  text-align: center;
  font-size: 24px;
}
.segundo-container .sobre-mim {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.segundo-container .sobre-mim p {
  text-indent: 50px;
  font-size: 24px;
  max-width: 600px;
  color: #fff;
}

.foto-card span:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #FE0105);
  animation: animacao1 2s linear infinite;
}

@keyframes animacao1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.foto-card span:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #FE0105);
  animation: animacao2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animacao2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.foto-card span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #FE0105);
  animation: animacao3 2s linear infinite;
}

@keyframes animacao3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.foto-card span:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #FE0105);
  animation: animacao4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animacao4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.foto-card:hover img {
  opacity: 0;
}

.foto-card:hover img.foto-hover {
  opacity: 1;
  filter: blur(5px);
  transform: rotate(1deg);
}

.foto-card:hover .texto-card {
  visibility: visible;
  background-size: cover;
  background: rgba(0, 0, 0, 0.163);
  transition-delay: 0.3s;
  cursor: pointer;
  text-shadow: 0px 0px 3px #000000;
}

@media (max-width: 750px) {
  .segunda-tela .escrita-sobre {
    font-size: 8vw;
  }
  .segunda-tela .segundo-container .sobre-mim p {
    font-size: 22px;
    text-indent: 20px;
  }
}
@media (max-width: 400px) {
  .segunda-tela .escrita-sobre {
    font-size: 9vw;
  }
}
.barra {
  width: 100%;
  background-color: rgba(41, 1, 1, 0.048);
  backdrop-filter: blur(15px);
  border-bottom: solid 1px rgba(255, 0, 0, 0.452);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}
.barra .container-barra {
  flex-direction: row;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
}
.barra .container-barra .logo-esquerda {
  position: relative;
  overflow: hidden;
}
.barra .container-barra .logo-esquerda img {
  width: 100% transition all linear 0.7s;
  transition-duration: 1.4s;
  width: 40px;
}
.barra .container-barra .logo-esquerda .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.barra .container-barra .logo-esquerda:hover img {
  opacity: 0;
}
.barra .container-barra .logo-esquerda:hover img.hover-img {
  opacity: 1;
}
.barra .container-barra .menu {
  position: relative;
  right: -60px;
  flex-direction: row;
}
.barra .container-barra .menu nav {
  width: 100%;
}
.barra .container-barra .menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}
.barra .container-barra .menu li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  margin: 0 30px 0 0;
  font-size: 16px;
  transition: ease-in-out 0.3s;
  display: block;
}
.barra .container-barra .menu a:hover {
  color: #F5F5F5;
}

.center-botao {
  width: 126px;
  height: 42px;
  position: relative;
}
.center-botao .btn {
  top: 0px;
  border-radius: 5px;
  width: 126px;
  height: 42px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  transition: 1s ease-in-out;
}
.center-botao .btn svg {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #FE0105;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.center-botao .btn span {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
}

/* transição JS*/
#barra-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease-in-out;
}

#barra-menu.mostrar {
  opacity: 1;
  visibility: visible;
}

#menu-mobile {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s ease-in-out;
}

#menu-mobile.exibe {
  opacity: 1;
  visibility: visible;
}

#transition {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

#transition.aparece {
  opacity: 1;
}

/* End Transição JS*/
.menu-btn:hover,
.menu-btn:active {
  letter-spacing: 2px;
}

.menu-btn:after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #FE0105;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.5s ease-in-out;
}

.menu-btn:hover::after {
  width: 100%;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #FE0105;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

@media (max-width: 991px) {
  .barra {
    height: 100vh;
    top: -100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease 0.8s !important;
    background: rgba(0, 0, 0, 0.527);
  }
  .barra .container-barra {
    margin-top: 30px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .barra .container-barra .logo-esquerda img {
    width: 60px;
  }
  .barra .container-barra .menu {
    margin-top: -6px;
    right: -15px;
  }
  .barra .container-barra .menu .menu-mobile ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
  }
  .barra .container-barra .menu .menu-mobile ul li a {
    font-size: 25px;
  }
  .barra .container-barra .center-botao {
    width: 242px;
    height: 64px;
  }
  .barra .container-barra .center-botao .btn {
    width: 242px;
    height: 64px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.341);
    margin: 0 auto;
    border: 1px solid #F5F5F5;
  }
  .barra .container-barra .center-botao .btn svg {
    width: 0px;
    height: 0px;
  }
  .barra .container-barra .center-botao .btn span {
    font-size: 30px;
  }
  .close-menu-label::after {
    content: "☰";
    position: fixed;
    z-index: 2;
    top: 1rem;
    right: 1.2rem;
    background: #000000;
    border: 2px solid #FE0105;
    color: #FE0105;
    font-size: 2rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }
  .close-menu:checked ~ .close-menu-label::after {
    display: block;
    content: "✕";
    transform: rotate(90deg);
  }
  .close-menu:not(:checked) ~ .close-menu-label::after {
    transform: rotate(0deg);
  }
  .close-menu:checked ~ .barra {
    top: 0;
  }
}
@media (max-width: 620px) {
  .close-menu-label::after {
    position: fixed;
    right: 1.4rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 4px;
  }
}
@media (max-width: 420px) {
  .close-menu-label::after {
    right: 1.8rem;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
  }
}
#primeira-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #0D1116;
}
#primeira-section .video-background {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
}
#primeira-section .video-background video {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
@media (min-width: 991px) {
  #primeira-section .video-background video {
    transform: translateY(20px);
  }
}

#primeira-section .video-background-mobile {
  display: none;
}

.box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.box .ocultar {
  display: none;
}
.box .cadalado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  width: 100vw;
}

.container-pp {
  position: relative;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  margin-left: 60px;
  width: 500px;
}
.container-pp .texto.ola {
  color: #fff;
  font-size: 30px;
}
.container-pp .texto-escrevendo {
  color: #FE0105;
  font-size: 40px;
  font-weight: 600;
}

.links-p1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 240px;
  transform: translateY(6px);
}
.links-p1 a {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 22px;
  text-decoration: none;
}
.links-p1 .linkedin-p1 {
  box-shadow: 0 0 10px 0 #FE0105 inset, 0 0 10px 4px #FE0105;
  color: #fff;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}
.links-p1 .linkedin-p1:hover {
  border-color: #FE0105;
  box-shadow: 0 0 40px 40px #FE0105 inset;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}
.links-p1 .github-p1 {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
  color: #fff;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}
.links-p1 .github-p1:hover {
  border-color: #fff;
  color: #24252a;
  box-shadow: 0 0 40px 40px #fff inset;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

@media (max-width: 1700px) {
  .links-p1 {
    margin-right: 200px;
  }
}
@media (max-width: 1550px) {
  .links-p1 {
    margin-right: 180px;
  }
  .container-pp {
    margin-left: 0px;
  }
}
@media (max-width: 1420px) {
  .links-p1 {
    margin-right: 150px;
  }
  .container-pp {
    margin-left: -30px;
  }
  .container-pp .texto.ola {
    font-size: 26px;
  }
  .container-pp .texto-escrevendo {
    font-size: 36px;
  }
}
@media (max-width: 1280px) {
  .links-p1 {
    margin-right: 120px;
  }
  .container-pp {
    margin-left: -70px;
  }
}
@media (max-width: 1170px) {
  .links-p1 {
    margin-right: 80px;
  }
  .container-pp {
    margin-left: -110px;
  }
  .container-pp .texto-escrevendo {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  #primeira-section .video-background {
    display: none;
  }
  #primeira-section .video-background-mobile {
    display: block;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
  }
  #primeira-section .video-background-mobile video {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
  }
}
@media only screen and (max-width: 991px) and (min-height: 1421px) and (max-height: 1921px) {
  .container-pp {
    position: absolute;
    padding-top: 60px;
    margin: 0 auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 10vh;
  }
  .container-pp .texto.ola {
    position: absolute;
    font-size: 40px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container-pp .texto-escrevendo {
    font-size: 56px;
  }
  .links-p1 {
    position: absolute;
    flex-direction: row;
    left: 50%;
    bottom: 14%;
    transform: translate(-50%, -50%);
  }
  .links-p1 a {
    padding: 16px 36px;
    margin: 10px;
    border-radius: 62px;
    text-decoration: none;
    font-size: 34px;
  }
}
@media only screen and (max-width: 991px) and (min-height: 881px) and (max-height: 1420px) {
  .container-pp {
    position: absolute;
    padding-top: 60px;
    margin: 0 auto;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 20vh;
  }
  .container-pp .texto.ola {
    position: absolute;
    font-size: 40px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container-pp .texto-escrevendo {
    font-size: 46px;
  }
  .links-p1 {
    position: absolute;
    flex-direction: row;
    left: 50%;
    bottom: 11%;
    transform: translate(-50%, -50%);
  }
  .links-p1 a {
    padding: 10px 28px;
    margin: 10px;
    border-radius: 62px;
    text-decoration: none;
    font-size: 26px;
  }
}
@media only screen and (max-width: 991px) and (min-height: 551px) and (max-height: 880px) {
  .container-pp {
    position: absolute;
    padding-top: 45px;
    margin: 0 auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 20vh;
  }
  .container-pp .texto.ola {
    position: absolute;
    font-size: 40px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container-pp .texto-escrevendo {
    font-size: 42px;
  }
  .links-p1 {
    position: absolute;
    flex-direction: row;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, -50%);
  }
  .links-p1 a {
    padding: 14px 24px;
    margin: 10px;
    border-radius: 32px;
    text-decoration: none;
    font-size: 24px;
  }
}
@media only screen and (max-width: 991px) and (min-height: 0px) and (max-height: 550px) {
  .container-pp {
    position: absolute;
    padding-top: 26px;
    margin: 0 auto;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 20vh;
  }
  .container-pp .texto.ola {
    position: absolute;
    font-size: 40px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  .container-pp .texto-escrevendo {
    font-size: 34px;
  }
  .links-p1 {
    position: absolute;
    flex-direction: row;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%, -50%);
  }
  .links-p1 a {
    padding: 8px 18px;
    margin: 10px;
    border-radius: 32px;
    text-decoration: none;
    font-size: 20px;
  }
}
.progress-bar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 5px;
  background-color: #ccc;
  z-index: 9999;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: rgb(135, 22, 22);
  transition: width 0.3s ease;
}

body.loading {
  background-color: black;
}

/* Oculta o conteúdo inicialmente */
.content {
  display: none;
}

@keyframes progressBarAnimation {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
::-webkit-scrollbar {
  width: 6px;
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 20px;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
