@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Source+Sans+Pro:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Components*/
#footer {
  height: 500px auto;
  width: 100vw;
  background: radial-gradient(circle, rgb(12, 15, 23) 4%, rgb(9, 11, 14) 95%, rgba(10, 0, 0, 0.96) 100%);
}

.footer-container {
  display: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.feito-por {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
}

.social-1,
.social-2 {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rede {
  position: relative;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease-out;
  width: 0 auto;
  height: 0 auto;
}

.rede img {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid transparent;
}

.rede:hover {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  transition: all 0.3s ease-out;
}

.rede:hover img {
  position: relative;
  opacity: 0;
}

.linkedin-f:hover {
  background: url(../img/linkedin-footer-h.png) center/contain no-repeat;
  filter: drop-shadow(0 0 0.333px red) drop-shadow(0 0 0.556px red) drop-shadow(0 0 0.833px red) drop-shadow(0 0 1.111px red) drop-shadow(0 0 1.944px red) drop-shadow(0 0 2.222px red) drop-shadow(0 0 2.778px red) drop-shadow(0 0 4.167px red);
  transition: transform 0.3s, filter 0.2s ease-in-out;
}

.whatsapp-f:hover {
  background: url(../img/whatsapp-footer-h.png) center/contain no-repeat;
  filter: drop-shadow(0 0 0.333px red) drop-shadow(0 0 0.556px red) drop-shadow(0 0 0.833px red) drop-shadow(0 0 1.111px red) drop-shadow(0 0 1.944px red) drop-shadow(0 0 2.222px red) drop-shadow(0 0 2.778px red) drop-shadow(0 0 4.167px red);
  transition: transform 0.3s, filter 0.2s ease-in-out;
}

.instagram-f:hover {
  background: url(../img/instagram-footer-h.png) center/contain no-repeat;
  filter: drop-shadow(0 0 0.111px red) drop-shadow(0 0 0.256px red) drop-shadow(0 0 0.433px red) drop-shadow(0 0 0.611px red) drop-shadow(0 0 0.944px red) drop-shadow(0 0 1.112px red) drop-shadow(0 0 1.478px red) drop-shadow(0 0 2.167px red);
  transition: transform 0.3s, filter 0.2s ease-in-out;
}

.github-f:hover {
  background: url(../img/github-footer-h.png) center/contain no-repeat;
  filter: drop-shadow(0 0 0.333px red) drop-shadow(0 0 0.556px red) drop-shadow(0 0 0.833px red) drop-shadow(0 0 1.111px red) drop-shadow(0 0 1.944px red) drop-shadow(0 0 2.222px red) drop-shadow(0 0 2.778px red) drop-shadow(0 0 4.167px red);
  transition: transform 0.3s, filter 0.2s ease-in-out;
}

@media (max-width: 800px) {
  .feito-por {
    width: 300px;
    text-align: center;
  }
  .social-1 {
    transform: translateX(100px);
  }
  .social-2 {
    transform: translateX(-100px);
  }
}
@media (max-width: 650px) {
  .feito-por {
    width: 300px;
    font-size: 12px;
  }
}
@media (max-width: 590px) {
  .feito-por {
    position: relative;
    width: 400px;
    font-size: 14px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-1,
  .social-2 {
    transform: translateX(0px);
  }
  .rede img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid transparent;
  }
  .rede:hover {
    width: 30px;
    height: 30px;
    border-radius: 6px;
  }
}
#quarta-pagina {
  padding: 50px 0px 0px 0px;
  width: 100%;
  height: 0 auto;
  background: linear-gradient(90deg, rgb(7, 9, 15) 0%, rgb(0, 0, 0) 50%, rgb(7, 9, 15) 100%);
  align-items: center;
  justify-content: center;
}

.container-tecnologias {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 40px;
  height: 100%;
  flex-direction: row;
}

.tecnologias {
  display: grid;
  width: 100px;
  height: 100px;
  background-color: rgba(42, 42, 42, 0.152);
  border: 1px solid #ff0000;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: ease 0.2s;
  background-position: center;
  background-repeat: no-repeat;
}

.tecnologias img {
  display: block;
  margin: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.tecnologias .icones-tecnologias {
  transition: ease-in-out 0.4s;
}

.tecnologias:hover .icones-tecnologias {
  opacity: 0;
}

.tecnologias:hover {
  background-color: rgb(0, 0, 0);
  transform: scale(1.2);
  background-size: 80px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 2px #ff0000;
}

.html:hover {
  background-image: url(../img/html-h.png);
}

.css:hover {
  background-image: url(../img/css-h.png);
}

.javascript:hover {
  background-image: url(../img/js-h.png);
  background-size: 80px;
}

.github:hover {
  background-image: url(../img/github-h.png);
}

.vtex:hover {
  background-image: url(../img/vtex-h.png);
}

.sass:hover {
  background-image: url(../img/sass-h.png);
}

.react:hover {
  background-image: url(../img/react-h.png);
}

.git:hover {
  background-image: url(../img/git-h.png);
}

.escrita-habilidades {
  text-align: center;
  font-size: 90px;
  font-family: Poiret One;
  height: 100%;
  overflow: hidden;
  color: rgb(0, 0, 0);
  padding: 0 0 30px 0;
}

.letter-h {
  position: relative;
  top: calc(50% - 60px);
  color: rgb(255, 60, 0);
  text-shadow: 0px 0px 10px rgb(255, 0, 0), 0px 0px 20px rgb(255, 0, 0), 0px 0px 40px rgb(255, 0, 0);
}

.letter-h:nth-child(1) {
  -webkit-animation: fade 4s infinite 200ms;
  animation: fade 4s infinite 200ms;
}
.letter-h:nth-child(2) {
  -webkit-animation: fade 4s infinite 400ms;
  animation: fade 4s infinite 400ms;
}
.letter-h:nth-child(3) {
  -webkit-animation: fade 4s infinite 600ms;
  animation: fade 4s infinite 600ms;
}
.letter-h:nth-child(4) {
  -webkit-animation: fade 4s infinite 800ms;
  animation: fade 4s infinite 800ms;
}
.letter-h:nth-child(5) {
  -webkit-animation: fade 4s infinite 1000ms;
  animation: fade 4s infinite 1000ms;
}
.letter-h:nth-child(6) {
  -webkit-animation: fade 4s infinite 1200ms;
  animation: fade 4s infinite 1200ms;
}
.letter-h:nth-child(7) {
  -webkit-animation: fade 4s infinite 1400ms;
  animation: fade 4s infinite 1400ms;
}
.letter-h:nth-child(8) {
  -webkit-animation: fade 4s infinite 1600ms;
  animation: fade 4s infinite 1600ms;
}
.letter-h:nth-child(9) {
  -webkit-animation: fade 4s infinite 1800ms;
  animation: fade 4s infinite 1800ms;
}
.letter-h:nth-child(10) {
  -webkit-animation: fade 4s infinite 2000ms;
  animation: fade 4s infinite 2000ms;
}
.letter-h:nth-child(11) {
  -webkit-animation: fade 4s infinite 2200ms;
  animation: fade 4s infinite 2200ms;
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}
@keyframes fade {
  50% {
    opacity: 0.02;
  }
}
.container-descricao {
  font-family: "Quando", serif;
  font-size: 20px;
  max-width: 40%;
  background-color: red;
  position: relative;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.texto-descricao {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 50px;
  padding-bottom: 70px;
  margin-left: 240px;
}

.texto-descricao2 {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 50px;
  padding-bottom: 70px;
  margin-right: 200px;
}

.quarto-container {
  height: 0 auto;
  width: 0 auto;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.div-texto {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 700;
  position: absolute;
  left: 300px;
  transition: opacity 0.9s ease-in-out;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px red, 0px 0px 20px red, 0px 0px 40px red;
}

.container-tecnologias:hover + .div-texto + .div-texto2 {
  display: block;
}

.div-texto2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  transition: opacity 0.9s ease-in-out;
  color: white;
  width: 400px;
  height: 0 auto;
  right: 180px;
  background-color: rgba(0, 128, 0, 0.261);
}

@media (max-width: 1700px) {
  .div-texto {
    left: 180px;
  }
  .div-texto2 {
    right: 90px;
  }
}
@media (max-width: 1600px) {
  .div-texto {
    left: 130px;
  }
  .div-texto2 {
    right: 100px;
    width: 340px;
  }
}
@media (max-width: 1500px) {
  .div-texto2 {
    right: 80px;
    width: 300px;
    font-weight: 700;
    font-size: 22px;
  }
}
@media (max-width: 1350px) {
  .div-texto {
    left: 80px;
  }
  .div-texto2 {
    right: 90px;
    width: 270px;
  }
}
@media (max-width: 1280px) {
  .div-texto {
    font-size: 28px;
    font-weight: 700;
    left: 110px;
  }
  .div-texto2 {
    right: 100px;
    width: 250px;
    font-weight: 700;
    font-size: 20px;
  }
  .container-tecnologias {
    gap: 20px;
  }
  .tecnologias {
    display: grid;
    width: 90px;
    height: 90px;
  }
  .tecnologias img {
    width: 60px;
    height: 60px;
  }
  .tecnologias:hover {
    background-size: 60px;
  }
  .escrita-habilidades {
    font-size: 70px;
  }
  .quarto-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 300px;
  }
}
@media (max-width: 1100px) {
  #quarta-pagina {
    height: 0 auto;
  }
  .container-tecnologias {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .tecnologias {
    width: 100px;
    height: 100px;
  }
  .tecnologias img {
    width: 60px;
    height: 60px;
  }
  .tecnologias:hover {
    background-size: 60px;
  }
  .div-texto {
    left: 70px;
  }
  .div-texto2 {
    right: 40px;
    width: 250px;
    font-weight: 700;
    font-size: 22px;
  }
}
@media (max-width: 800px) {
  .div-texto {
    left: 40px;
  }
  .div-texto2 {
    right: 55px;
    width: 190px;
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .div-texto {
    position: relative;
    left: 0px;
  }
  .div-texto2 {
    position: relative;
    right: 0;
    width: 350px;
    font-size: 24px;
  }
  .escrita-habilidades {
    font-size: 56px;
  }
}
@media (max-width: 550px) {
  .escrita-habilidades {
    font-size: 44px;
  }
}
@media (max-width: 400px) {
  .escrita-habilidades {
    font-size: 34px;
  }
}
#terceira-pagina {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
  justify-content: center;
  background: radial-gradient(circle, rgb(12, 15, 23) 4%, rgb(9, 11, 14) 95%, rgba(10, 0, 0, 0.96) 100%);
  overflow-x: hidden;
  overflow-y: hidden;
  height: 0 auto;
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
}

input {
  display: none;
}

.terceiro-container {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 2000px;
  transform-style: preserve-3d;
}

.cards label {
  position: absolute;
  width: 320px;
  height: 420px;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card {
  position: relative;
  height: 100%;
  background-color: #070000;
  border-radius: 5px;
  border: 3px solid rgba(255, 0, 0, 0.35);
  padding: 30px 35px;
}

.card .image {
  display: flex;
  justify-content: center;
}

.card .image img {
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 220px;
  object-fit: cover;
}

.card .descricao-projeto {
  display: block;
  text-align: center;
  padding-top: 10px;
}

.descricao-projeto span {
  display: block;
}

.descricao-projeto .nome-projeto {
  font-size: 24px;
  color: var(--current-color1);
  letter-spacing: 2px;
  transition: all 0.6s ease;
}

.descricao-projeto .lorem {
  font-size: 15.5px;
  color: #ECEAED;
}

.card .btn-contact {
  width: 100%;
  margin: 10px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.7s ease;
}

#c1:checked ~ .cards #slide4,
#c2:checked ~ .cards #slide5,
#c3:checked ~ .cards #slide1,
#c4:checked ~ .cards #slide2,
#c5:checked ~ .cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.45);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked ~ .cards #slide5,
#c2:checked ~ .cards #slide1,
#c3:checked ~ .cards #slide2,
#c4:checked ~ .cards #slide3,
#c5:checked ~ .cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.45);
  transform: translate3d(-35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked ~ .cards #slide1,
#c2:checked ~ .cards #slide2,
#c3:checked ~ .cards #slide3,
#c4:checked ~ .cards #slide4,
#c5:checked ~ .cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.5);
  transform: translate3d(0, 0, 0);
  --current-color1: red;
  --current-color2: #ECEAED;
}

#c1:checked ~ .cards #slide2,
#c2:checked ~ .cards #slide3,
#c3:checked ~ .cards #slide4,
#c4:checked ~ .cards #slide5,
#c5:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.45);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#c1:checked ~ .cards #slide3,
#c2:checked ~ .cards #slide4,
#c3:checked ~ .cards #slide5,
#c4:checked ~ .cards #slide1,
#c5:checked ~ .cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.45);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

/*texto*/
.escrita-projetos {
  text-align: center;
  justify-content: center;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  overflow: hidden;
  color: rgb(255, 255, 255);
  padding: 40px;
}

.letter-2 {
  position: relative;
  top: calc(50% - 60px);
  text-shadow: 0px 0px 10px red, 0px 0px 20px red, 0px 0px 40px red, 0px 0px 80px red, 0px 0px 120px red;
}

.letter-2:nth-child(1) {
  -webkit-animation: fade 4s infinite 200ms;
  animation: fade 4s infinite 200ms;
  animation-direction: alternate;
}
.letter-2:nth-child(2) {
  -webkit-animation: fade 4s infinite 400ms;
  animation: fade 4s infinite 400ms;
  animation-direction: alternate;
}
.letter-2:nth-child(3) {
  -webkit-animation: fade 4s infinite 600ms;
  animation: fade 4s infinite 600ms;
  animation-direction: alternate;
}
.letter-2:nth-child(4) {
  -webkit-animation: fade 4s infinite 800ms;
  animation: fade 4s infinite 800ms;
  animation-direction: alternate;
}
.letter-2:nth-child(5) {
  -webkit-animation: fade 4s infinite 1000ms;
  animation: fade 4s infinite 1000ms;
  animation-direction: alternate;
}
.letter-2:nth-child(6) {
  -webkit-animation: fade 4s infinite 1200ms;
  animation: fade 4s infinite 1200ms;
  animation-direction: alternate;
}
.letter-2:nth-child(7) {
  -webkit-animation: fade 4s infinite 1400ms;
  animation: fade 4s infinite 1400ms;
  animation-direction: alternate;
}
.letter-2:nth-child(8) {
  -webkit-animation: fade 4s infinite 1400ms;
  animation: fade 4s infinite 1600ms;
  animation-direction: alternate;
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}
@keyframes fade {
  50% {
    opacity: 0.02;
  }
}
@media (max-width: 780px) {
  .cards {
    perspective: 800px;
  }
}
@media (max-width: 670px) {
  .cards {
    perspective: 400px;
  }
}
@media (max-width: 540px) {
  .cards {
    perspective: 300px;
    transform: translateX(-10px);
  }
  .escrita-projetos {
    font-size: 50px;
  }
}
@media (max-width: 450px) {
  .cards {
    perspective: 80px;
  }
  .escrita-projetos {
    font-size: 44px;
  }
}
@media (max-width: 410px) {
  .escrita-projetos {
    font-size: 30px;
  }
}
#segunda-pagina {
  width: 100%;
  height: 0 auto;
  background: linear-gradient(90deg, rgb(7, 9, 15) 0%, rgb(0, 0, 0) 50%, rgb(7, 9, 15) 100%);
  overflow-x: hidden;
}

.segunda-tela {
  padding: 20px 0px 0px 0px;
}

.segundo-container {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.sobre-mim p {
  text-indent: 50px;
  font-size: 20px;
  max-width: 600px;
  color: white;
}

/*card foto*/
.foto-card {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.foto-card span:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #f42929);
  animation: animacao1 2s linear infinite;
}

@keyframes animacao1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.foto-card span:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #f42929);
  animation: animacao2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animacao2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.foto-card span:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #f42929);
  animation: animacao3 2s linear infinite;
}

@keyframes animacao3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.foto-card span:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #f42929);
  animation: animacao4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animacao4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/*hover img*/
.foto-card {
  position: relative;
  overflow: hidden;
}
.foto-card img {
  width: 100% transition all linear 0.7s;
  transition-duration: 1.4s;
  width: 40px;
}
.foto-card .foto-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.foto-card:hover img {
  opacity: 0;
}

.foto-card:hover img.foto-hover {
  opacity: 1;
  filter: blur(5px);
  transform: rotate(1deg);
}

.foto-card .texto-card {
  font-family: "Source Sans Pro", sans-serif;
  visibility: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -270px;
  padding: 10px;
  color: white;
  z-index: 1;
  text-align: center;
  font-size: 24px;
}

.foto-card:hover .texto-card {
  visibility: visible;
  background-size: cover;
  background: rgba(0, 0, 0, 0.163);
  transition-delay: 0.3s;
  cursor: pointer;
  text-shadow: 0px 0px 3px black;
}

.btn-curriculo {
  padding: 10px;
  border-radius: 22px;
  font-size: 22px;
  background: red;
  color: white;
}

.btn-curriculo:hover {
  padding: 10px;
  border-radius: 22px;
  font-size: 22px;
  background-color: black;
  color: red;
}

.escrita-sobre {
  text-align: center;
  font-size: 90px;
  font-family: Poiret One;
  height: 100%;
  overflow: hidden;
}

.letter {
  position: relative;
  color: rgb(255, 60, 0);
  text-shadow: 0px 0px 10px rgb(255, 0, 0), 0px 0px 20px rgb(255, 0, 0), 0px 0px 40px rgb(255, 0, 0);
}

.letter:nth-child(1) {
  -webkit-animation: fade 4s infinite 200ms;
  animation: fade 4s infinite 200ms;
}
.letter:nth-child(2) {
  -webkit-animation: fade 4s infinite 400ms;
  animation: fade 4s infinite 400ms;
}
.letter:nth-child(3) {
  -webkit-animation: fade 4s infinite 600ms;
  animation: fade 4s infinite 600ms;
}
.letter:nth-child(4) {
  -webkit-animation: fade 4s infinite 800ms;
  animation: fade 4s infinite 800ms;
}
.letter:nth-child(5) {
  -webkit-animation: fade 4s infinite 1000ms;
  animation: fade 4s infinite 1000ms;
}
.letter:nth-child(6) {
  -webkit-animation: fade 4s infinite 1200ms;
  animation: fade 4s infinite 1200ms;
}
.letter:nth-child(7) {
  -webkit-animation: fade 4s infinite 1400ms;
  animation: fade 4s infinite 1400ms;
}
.letter:nth-child(8) {
  -webkit-animation: fade 4s infinite 1400ms;
  animation: fade 4s infinite 1600ms;
}
.letter:nth-child(9) {
  -webkit-animation: fade 4s infinite 1400ms;
  animation: fade 4s infinite 1800ms;
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.02;
  }
}
@keyframes fade {
  50% {
    opacity: 0;
  }
}
@media (max-width: 720px) {
  .escrita-sobre {
    font-size: 70px;
  }
  .sobre-mim p {
    font-size: 18px;
    text-indent: 20px;
  }
}
@media (max-width: 570px) {
  .escrita-sobre {
    font-size: 50px;
  }
}
@media (max-width: 410px) {
  .escrita-sobre {
    font-size: 36px;
  }
  .sobre-mim {
    text-align: left;
  }
}
/*barra*/
.barra {
  width: 100%;
  background-color: rgba(41, 1, 1, 0.048);
  backdrop-filter: blur(15px);
  border-bottom: solid 1px rgba(255, 0, 0, 0.452);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  /* modified */
}

.container-barra {
  flex-direction: row;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
}

/*Menu*/
.menu {
  position: relative;
  right: -50px;
  flex-direction: row;
  /* added */
}
.menu nav {
  width: 100%;
}
.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
}
.menu li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  margin: 0 30px 0 0;
  font-size: 16px;
  transition: ease-in-out 0.3s;
  display: block;
}
.menu a:hover {
  color: #F5F5F5;
}

/*Logo*/
.logo-esquerda {
  position: relative;
  overflow: hidden;
}
.logo-esquerda img {
  width: 100% transition all linear 0.7s;
  transition-duration: 1.4s;
  width: 40px;
}
.logo-esquerda .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.logo-esquerda:hover img {
  opacity: 0;
}

.logo-esquerda:hover img.hover-img {
  opacity: 1;
}

/*Underline menu*/
.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 2px;
}

.btn-2:after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #f42929;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.5s ease-in-out;
}

.btn-2:hover::after {
  width: 100%;
}

/*Botão contato*/
.center-botao {
  width: 126px;
  height: 42px;
  position: relative;
}

.btn {
  top: 0px;
  border-radius: 5px;
  width: 126px;
  height: 42px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #f42929;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #f42929;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
}

@media (max-width: 950px) {
  .altura-ajuste {
    display: flex;
    justify-content: center;
  }
  .organizador {
    max-width: 300px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-areas: "desenho" "descricao";
    line-height: 35px;
  }
  #inicio {
    display: flex;
    justify-content: center;
  }
  .desenho {
    display: flex;
    justify-content: center;
  }
  .descricao {
    font-size: 20px;
  }
  .meu-nome {
    font-size: 30px;
  }
  .esquerda,
  .direita {
    margin: 0;
  }
  .logo {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .barra {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-barra {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .menu {
    right: -15px;
  }
  .barra .logo {
    width: 100%;
  }
  .menu-mobile ul {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .menu-mobile ul a {
    font-size: 35px;
  }
  .logo-esquerda img {
    width: 70px;
  }
  .center-botao {
    width: 232px;
    height: 84px;
  }
  .btn {
    width: 232px;
    height: 84px;
    background-color: black;
    border: 8px solid #fff;
  }
  .btn svg {
    width: 0px;
    height: 0px;
  }
  .btn span {
    font-size: 30px;
  }
  /* mobile */
  .barra {
    display: block;
    position: fixed;
    top: -100vh;
    transition: ease 0.3s;
  }
  .close-menu-label::after {
    content: "☰";
    position: fixed;
    z-index: 2;
    top: 1rem;
    left: 1rem;
    background: #ff0000;
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  /* fechar menu mobile */
  .close-menu:checked ~ .barra {
    top: 0;
  }
  .close-menu:checked ~ .close-menu-label::after {
    display: block;
    content: "✕";
  }
  .menu-mobile ul li a {
    font-size: 25px;
  }
  .barra {
    background: rgba(0, 0, 0, 0.527);
  }
}
/* background de video*/
#primeira-pagina {
  width: 100%;
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}
#primeira-pagina .video-background {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
}
#primeira-pagina .video-background video {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#primeira-pagina .video-background-mobile {
  display: none;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
}
#primeira-pagina .video-mobile video {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

/*box elementos*/
.box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.box .ocultar {
  display: none;
}
.box .cadalado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  width: 100vw;
}

.container-pp {
  position: relative;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  color: #fff;
  margin-left: 60px;
  width: 500px;
}
.container-pp .texto.ola {
  color: #fff;
  font-size: 30px;
}
.container-pp .texto-escrevendo {
  color: #f42929;
  font-size: 40px;
  font-weight: 600;
}

/*botão linkedin e github*/
.links-p1 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 240px;
  transform: translateY(6px);
}
.links-p1 a {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 22px;
  text-decoration: none;
}
.links-p1 .linkedin-p1 {
  box-shadow: 0 0 10px 0 #f42929 inset, 0 0 10px 4px #f42929;
  color: #fff;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}
.links-p1 .github-p1 {
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
  color: #fff;
  -webkit-transition: all 550ms ease-in-out;
  transition: all 550ms ease-in-out;
}

.linkedin-p1:hover {
  border-color: #f42929;
  color: #fff;
  box-shadow: 0 0 40px 40px #f42929 inset, 0 0 0 0 #f42929;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.github-p1:hover {
  border-color: #fff;
  color: #24252a;
  box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

@media (max-width: 1700px) {
  .links-p1 {
    margin-right: 200px;
  }
}
@media (max-width: 1550px) {
  .links-p1 {
    margin-right: 180px;
  }
  .container-pp {
    margin-left: 0px;
  }
}
@media (max-width: 1420px) {
  .links-p1 {
    margin-right: 150px;
  }
  .container-pp {
    margin-left: -30px;
  }
  .container-pp .texto.ola {
    font-size: 26px;
  }
  .container-pp .texto-escrevendo {
    font-size: 36px;
  }
}
@media (max-width: 1280px) {
  .links-p1 {
    margin-right: 120px;
  }
  .container-pp {
    margin-left: -70px;
  }
}
@media (max-width: 1170px) {
  .links-p1 {
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
  }
  .container-pp {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 0 auto;
    margin: 0 auto;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
    gap: 20px;
    text-align: center;
  }
  .container-pp .texto.ola {
    font-size: 40px;
    margin-left: 40px;
  }
  .container-pp .texto-escrevendo {
    font-size: 44px;
  }
}
@media (max-width: 670px) {
  .container-pp,
  .links-p1 {
    display: block;
    position: absolute;
  }
  .video-background {
    background-image: url(../img/mobile.mp4);
  }
}
@media (max-width: 299px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
::-webkit-scrollbar {
  width: 6px;
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 20px;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
